@page "{restaurantId:int?}"

@model WebApp.Pages.Restaurants.EditModel
@{
    ViewData["Title"] = "Add - Edit";
}

<h2>Editing @Model.Restaurant.Name</h2>

@*<img src="http://kestepizzeria.com/wp-content/uploads/2018/01/scotts-pizza-tours.jpg"/>*@

<form method="post">
    <input type="hidden" asp-for="Restaurant.Id" />
    <div class="form-group">
        <label asp-for="Restaurant.Name">Name</label>
        <input asp-for="Restaurant.Name" class="form-control" />
        <span class="text-danger" asp-validation-for="Restaurant.Name"></span>
    </div>
    <div class="form-group">
        <label asp-for="Restaurant.Location">Location</label>
        <input asp-for="Restaurant.Location" class="form-control" />
        <span class="text-danger" asp-validation-for="Restaurant.Location"></span>
    </div>
    <div class="form-group">
        <label asp-for="Restaurant.Cuisine" />
        <select asp-for="Restaurant.Cuisine"
                asp-items="Model.Cuisines"
                class="form-control"></select>
        <span class="text-danger" asp-validation-for="Restaurant.Cuisine"></span>
    </div>
    <button type="submit" class="btn btn-info">Save</button>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
